html, body {
    height: 100%; /* Full height */
    width: 100%; /* Full width */
    margin: 0; /* Remove margins */
    padding: 0; /* Remove paddings */
    overflow: hidden; /* Prevent scrolling */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: black; /* Background color */
}

.tradingview-widget-container {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    display: flex; /* Flexbox for inner centering */
    justify-content: center; /* Center content horizontally inside the container */
    align-items: center; /* Center content vertically inside the container */
}

.tradingview-widget-copyright {
    display: none;
    /* This will hide the element */
}
